# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build -v 
    - name: Test
      run: |
        FMT_ISSUES=$(gofmt -l .)
        if test -n "$FMT_ISSUES" ;then printf "gofmt found problems:\n$FMT_ISSUES\n";exit 11; fi
        sudo ./install_zaje.sh && ls -al /usr/local/bin/zaje && ls -al /etc/profile.d/zaje.sh && type df && df -h
        du -h . | zaje -d -l du

    #- name: Test
    #run: go test -v 
